frontend/web/vcgw.wsdl


<wsdl:definitions xmlns:axis2="http://vas/com/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://vas/com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://vas/com/">
    <wsdl:documentation>ProcessClients</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://vas/com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://vas/com/xsd">
            <xs:element name="ProcessAuthen">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="cmd" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="providerid" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ProcessAuthenResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="processCharging">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="msisdn" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="charging" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="reqTime" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="providerid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="serviceId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="cmd" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="contents" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="requestId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="processChargingResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="processChargingRequest">
        <wsdl:part name="part1" element="ns0:processCharging"/>
    </wsdl:message>
    <wsdl:message name="processChargingResponse">
        <wsdl:part name="part1" element="ns0:processChargingResponse"/>
    </wsdl:message>
    <wsdl:message name="ProcessAuthenRequest">
        <wsdl:part name="part1" element="ns0:ProcessAuthen"/>
    </wsdl:message>
    <wsdl:message name="ProcessAuthenResponse">
        <wsdl:part name="part1" element="ns0:ProcessAuthenResponse"/>
    </wsdl:message>
    <wsdl:portType name="ProcessClientsPortType">
        <wsdl:operation name="processCharging">
            <wsdl:input message="axis2:processChargingRequest" wsaw:Action="urn:processCharging"/>
            <wsdl:output message="axis2:processChargingResponse" wsaw:Action="urn:processChargingResponse"/>
        </wsdl:operation>
        <wsdl:operation name="ProcessAuthen">
            <wsdl:input message="axis2:ProcessAuthenRequest" wsaw:Action="urn:ProcessAuthen"/>
            <wsdl:output message="axis2:ProcessAuthenResponse" wsaw:Action="urn:ProcessAuthenResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ProcessClientsSOAP11Binding" type="axis2:ProcessClientsPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="processCharging">
            <soap:operation soapAction="urn:processCharging" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessAuthen">
            <soap:operation soapAction="urn:ProcessAuthen" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ProcessClientsSOAP12Binding" type="axis2:ProcessClientsPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="processCharging">
            <soap12:operation soapAction="urn:processCharging" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessAuthen">
            <soap12:operation soapAction="urn:ProcessAuthen" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ProcessClientsHttpBinding" type="axis2:ProcessClientsPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="processCharging">
            <http:operation location="processCharging"/>
            <wsdl:input>
                <mime:content type="text/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessAuthen">
            <http:operation location="ProcessAuthen"/>
            <wsdl:input>
                <mime:content type="text/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ProcessClients">
        <!--<wsdl:port name="ProcessClientsSOAP11port_http" binding="axis2:ProcessClientsSOAP11Binding">
            <soap:address location="http://localhost/process/services/ProcessClients"/>
        </wsdl:port>-->
        <wsdl:port name="ProcessClientsSOAP12port_http" binding="axis2:ProcessClientsSOAP12Binding">
            <soap12:address location="http://localhost:8081/process/services/ProcessClients"/>
        </wsdl:port>
        <!--<wsdl:port name="ProcessClientsHttpport" binding="axis2:ProcessClientsHttpBinding">
            <http:address location="http://localhost/process/services/ProcessClients"/>
        </wsdl:port>-->
    </wsdl:service>
</wsdl:definitions>